@import url(./assets/scss/const.scss);

body {
  overscroll-behavior-y: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter";
}

a,
button {
  cursor: pointer;
  background: none;
  font-size: var(--fontS);
  font-family: "Inter";
  font-weight: 400;
  text-decoration: none;
}

h1 {
  font-family: "Raleway";
  font-weight: 700;
}

textarea {
  resize: none;
}

.Section {
  &__container {
    max-width: var(--layoutWidth);
    margin: 0 auto;
    padding: var(--sectionPadding) var(--layoutPadding);
    min-height: calc(100vh - var(--headerHeight));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  &__subtitle {
    font-size: var(--fontS);
    font-weight: 600;
    color: var(--mainColor8);
    opacity: 0;
    animation: fadeInFromAbove var(--revealDuration) var(--mainCubic)
      calc(var(--revealDuration)) forwards;
  }
  &__title {
    font-size: var(--fontL);
    color: var(--mainColor1);
    margin-top: var(--gapM);
    margin-bottom: calc(var(--sectionPadding) * 0.5);
    opacity: 0;
    animation: fadeInFromAbove var(--revealDuration) var(--mainCubic)
      calc(var(--revealDuration) * 1.5) forwards;
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: var(--gapL);
  }
  &__label {
    font-family: Inter;
    font-size: var(--fontR);
    color: var(--mainColor1);
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: var(--gapS);
    svg {
      width: var(--fontR);
      path {
        fill: var(--mainColor3);
      }
    }
  }
  &__input {
    font-family: Inter;
    font-size: var(--fontS);
    background-color: var(--mainColor21);
    color: var(--mainColor2);
    padding: var(--buttonPadding);
    border-radius: var(--radiusS);
    transition: box-shadow var(--revealDuration) var(--mainCubic);
    letter-spacing: 0.5px;
    &:focus {
      box-shadow: 0 0 6px var(--mainColor16);
    }
    &--placeholder {
      cursor: not-allowed;
      background-color: var(--mainColor22);
    }
  }
  &__placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: JetBrainsMono;
    letter-spacing: 1px;
  }
  &__inputContainer {
    display: flex;
    flex-direction: column;
    row-gap: var(--gapS);
  }
  &__inputStatus {
    display: flex;
    align-items: center;
    margin-left: var(--gapM);
    span {
      font-size: var(--fontXXS);
      color: var(--mainColor2);
      animation: fadeInAngle var(--revealDuration) var(--mainCubic) forwards;
    }
    svg {
      margin-right: var(--gapS);
      width: var(--fontR);
      path {
        fill: var(--mainColor5);
      }
    }
  }
  &__showCon {
    color: var(--mainColor23);
    background-color: var(--mainColor5);
    transition: var(--buttonHoverTransition);
    &:hover {
      box-shadow: 4px 5px 4px var(--mainColor15);
      transform: translate3d(-1px, -2px, 0);
    }
  }
}
.SectionConcept {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000, $alpha: 0.8);
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 var(--layoutPadding);
    margin-bottom: var(--headerHeight);
    background-color: var(--mainColor1);
    border-radius: var(--radiusM);
    color: var(--mainColor22);
    line-height: var(--gapM);
    font-size: var(--fontS);
    max-width: 720px;
    box-shadow: var(--gapS) var(--gapS) var(--gapR) var(--mainColor5);
    animation: fadeScaleInFromAbove var(--revealDuration) var(--mainCubic)
      forwards;
    transform-origin: top center;
  }
  &__cardContent {
    padding: var(--gapL);
    padding-bottom: 0;
  }
  &__title {
    display: flex;
    align-items: center;
    column-gap: var(--gapS);
    font-size: var(--fontL);
    svg {
      width: var(--fontL);
      path {
        fill: var(--mainColor18);
      }
    }
  }
  &__readmore {
    text-decoration: none;
    cursor: pointer;
    border-bottom-right-radius: var(--radiusM);
    border-bottom-left-radius: var(--radiusM);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: var(--gapL);
    padding: var(--gapR);
    text-align: center;
    width: 100%;
    transition: var(--bgTransition);
    background-color: var(--mainColor2);
    font-size: var(--fontXS);
    color: var(--mainColor23);
    &:hover {
      background-color: var(--mainColor3);
    }
  }
  &__close {
    width: 24px;
    position: absolute;
    top: var(--gapR);
    right: var(--gapR);
    path {
      fill: var(--mainColor22);
    }
  }
}
.fadeInOut-enter-active {
  animation: fadeIn var(--revealDuration) var(--mainCubic);
  backface-visibility: hidden;
}
.fadeInOut-leave-active {
  animation: fadeOut var(--hoverDuration) var(--mainCubic);
  backface-visibility: hidden;
}

#HighLightSpan {
  font-weight: 600;
  color: var(--mainColor23);
}

.Cta {
  border-radius: var(--radiusS);
  font-size: var(--fontS);
  padding: var(--buttonPadding);
}

.CtaS {
  border-radius: var(--radiusS);
  font-size: var(--fontXS);
  padding: var(--buttonPaddingS);
}
