@import url(./assets/scss/const.scss);

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter";
}

a,
button {
  cursor: pointer;
  background: none;
  font-size: var(--fontS);
  font-family: "Inter";
  font-weight: 400;
  text-decoration: none;
}

h1 {
  font-family: "Raleway";
  font-weight: 700;
}

textarea {
  resize: none;
}

.Section {
  &__container {
    position: relative;
    z-index: 1;
    max-width: var(--layoutWidth);
    margin: 0 auto;
    padding: var(--sectionPadding) var(--layoutPadding);
    height: calc(100vh - var(--headerHeight));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.Cta {
  border-radius: var(--radiusS);
  font-size: var(--fontS);
}

.Guide {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  &__hole {
    position: absolute;
    border-radius: var(--radiusM);
    box-shadow: 0 0 0 9999px rgba(#000, 0.88);
  }
  &__card {
    position: relative;
    border-radius: var(--radiusM);
    background-color: var(--mainColor8);
    padding: var(--layoutPadding);
    width: var(--guideCardWidth);
  }
  &__close {
    position: absolute;
    top: var(--innerPadding);
    right: var(--innerPadding);
    width: 24px;
    fill: var(--mainColor1);
  }
}

// animations
@keyframes fadeInFromAbove {
  from {
    opacity: 0;
    transform: translate3d(0, -16px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
